*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    width: 980px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.CABECALHO{
    background-color: rgb(30, 150, 255);
    margin: 5px;
    padding: 50px;
    text-align: center;
    
}
.geral{
    display: flex;
    margin-top: 5px;
}
.CONTEUDO1{
    background-color: rgb(57, 218, 35);
    height: 200px;
    padding: 50px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    width: 750px;
    margin: 5px;
    
    }
    .CONTEUDO2{
        background-color: rgb(57, 218, 35);
        height: 200px;
        padding: 50px;
        color: #fff;
        text-align: center;
        font-size: 10px;
        margin: 5px;
        width: 400px;
        
        
        }
        .CONTEUDO3{
            background-color: rgb(57, 218, 35);
            height: 250px;
            padding: 50px;
            color: #fff;
            text-align: center;
            font-size: 10px;
            width: 180px;
            margin: 5px;
            
            }
            .CONTEUDO4{
                background-color: rgb(57, 218, 35);
                height: 250px;
                padding: 50px;
                color: #fff;
                text-align: center;
                font-size: 10px;
                margin: 5px;
                width: 320px;
                
                
                }
                .CONTEUDO5{
                    background-color: rgb(57, 218, 35);
                    height: 250px;
                    padding: 50px;
                    color: #fff;
                    text-align: center;
                    font-size: 10px;
                    margin: 5px;
                    width: 240px;
                    
                    
                    }
                    .CONTEUDO6{
                        background-color: rgb(57, 218, 35);
                        height: 250px;
                        padding: 50px;
                        color: #fff;
                        text-align: center;
                        font-size: 10px;
                        margin: 5px;
                        width: 240px;
                        
                        
                        }
                        .CONTEUDO7{
                            background-color: rgb(57, 218, 35);
                            height: 250px;
                            padding: 50px;
                            color: #fff;
                            text-align: center;
                            font-size: 10px;
                            margin: 5px;
                            width: 240px;
                            
                            
                            }

                    
                    .d2{
                        display: flex;
                        flex-direction: column;
                    }

                    .d3{
                        display: flex;
                    }

                    .d{
                        display: flex;
                    }
.RODAPE{
    background-color: rgb(255, 153, 0);
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}